---
import type { MarkdownHeading } from "astro";
import MoreMenu from "../RightSidebar/MoreMenu.astro";
import TableOfContents from "../RightSidebar/TableOfContents";

type Props = {
  title: string;
  headings: MarkdownHeading[];
  githubEditUrl: string;
  nextPage?: {
    text: string;
    link: string;
  };
};

const { title, headings, githubEditUrl, nextPage } = Astro.props;
---

<article id="article" class="content">
  <section class="main-section">
    <h1 class="content-title" id="overview">{title}</h1>
    <nav class="block sm:hidden">
      <TableOfContents client:media="(max-width: 50em)" headings={headings} />
    </nav>
    <slot />
  </section>
  {
    nextPage && (
      <>
        <a href={Astro.site?.pathname + nextPage.link} class="next-page-link">
          {nextPage.text}
        </a>
      </>
    )
  }
  <nav class="block sm:hidden">
    <MoreMenu editHref={githubEditUrl} />
  </nav>
</article>

<style>
  .next-page-link {
    font-size: 2em;
    display: inline-block;
    padding: 15px;
    margin-top: -80px;
    margin-bottom: 10px;
    text-decoration: none;
    border: 2px solid var(--theme-text-accent);
    border-radius: 5px;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
  }

  .next-page-link:hover {
    background-color: var(--theme-text-accent);
    color: #fff;
  }
  .content {
    padding: 0;
    max-width: 75ch;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .content > section {
    margin-bottom: 4rem;
  }

  .block {
    display: block;
  }

  @media (min-width: 50em) {
    .sm\:hidden {
      display: none;
    }
  }
</style>
